body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

td {
    width: 35px;
    height: 35px;
    border: 2px solid black;
}

.btn {
    margin: 25px;
    pad: 15px 25px;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1; 
}

.green {
    background-color: green;
}

.test {
    border :5px solid red;
}

